<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div id="<%= dom_id calendar %>" class="card">
        <div class="card-body">
          <p>
            <strong>Title:</strong>
            <%= calendar.title %>
          </p>
          <p>
            <strong>Description:</strong>
            <%= calendar.description %>
          </p>
          <p>
            <strong>Start time:</strong>
            <%= calendar.start_time %>
          </p>
          <p>
            <strong>End time:</strong>
            <%= calendar.end_time %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
